<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
<nav> 
    <a href="/">Inicio</a> | <a href="/"> Sobre</a> | <a href="/">Contato</a>
</nav>

<h1>Contato</h1>
<p>Preencha o formulário abaixo</p>

<form action="nome">Nome:</form>
<input type="text" name="nome" id="nome">
</body>
</html>