<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<nav> 
    <a href="/">Inicio</a> | <a href="/sobre"> Sobre</a> | <a href="/contato">Contato</a>
</nav>


<h1>Bem vindo(a) a aplicaçãp com NodeJS e Express</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, repellendus iure sit, hic officiis dolorum beatae commodi numquam accusamus doloremque eaque. Explicabo illo vero aliquam dicta vitae. Explicabo ducimus voluptate obcaecati at, dolorum quod unde nostrum culpa delectus suscipit porro ab. Iusto accusantium veritatis totam voluptatibus id sequi mollitia assumenda nulla nemo aspernatur obcaecati molestiae molestias, deleniti commodi corporis incidunt placeat laborum blanditiis doloribus ullam. Fugiat dicta laboriosam nisi enim ea. Iusto similique, ea aut alias magnam perferendis impedit officiis facere, accusamus repellendus soluta ipsam. Voluptates aperiam praesentium molestias veritatis itaque. Modi sequi natus dolorum ratione deserunt ad officiis delectus!
</p>
<hr>
<ul>
    <% for (banda of bandas){ %>
        <li><%= bandas%></li>
    <% } %>
</ul>


</body>
</html>